{% extends "base.html" %}
{% block content %}
<form action=""
    method="post">
    {% csrf_token %}
    <fieldset class="officer form">
        <legend>Officer</legend>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" 
        maxlength="50"
        required><br>
        <label for="year">Year:</label>
        <select id="year" name="year" required>
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br>
        <label for="hobby">Hobby:</label>
        <input type="text" id="hobby" name="hobby" 
        maxlength="50"><br>
        <input type="submit" value="Submit">
    </fieldset>
</form>
{% endblock %}